<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters List</title>
</head>
<body>
    <h1>Character List</h1>
    <ul>
        <ul>
            <% characters.forEach(character => { %>
                <div>
                    <h3><%= character.name %></h3>
                    <p>Level: <%= character.characterLevel %></p>
                    <p>HP: <%= character.Hp %></p>
                    <p>Damage: <%= character.Damage %></p>
                    <p>Stamina: <%= character.Stamina %></p>
                    <a href="/characters/<%= character.id %>/edit">Edit</a>
                </div>
            <% }); %>
        </ul>

    </ul>
    <a href="/characters/create">Create New Character</a>
</body>
</html>
